<%- include('partals/header.ejs') -%>
<%-  include('partals/navbar.ejs') -%>
<script src="/socket.io/socket.io.js"></script>

  <!-- ###### start home section ##########-->
  <section class="home" id="home">
      <div class="dark-sun-mode">
          <i id="dark-mode" class="ri-contrast-2-fill"></i>
      </div>
      <div class="txt-content">
          <div class="hello">
              <span class="separate"></span>
              <h4>hello </h4>
          </div>
          
          <h2>I'M Hadi Ahmed</h2>
          <P>Full Stack Web Developer</P>
          <div class="button">
              <button class="btn">Hire Me</button>
              <a href="/pdf/CV_HADIsofan.pdf" download class="btn">Download Cv <i class="ri-download-2-fill"></i></a>
          </div>
      </div>
      <div class="image">
          <img src="/images/profile/profile-pic (14).png" alt="Eng.hadi ahmed">
      </div>
  </section>
  <%- include('./skills.ejs') -%>
  <%-  include('./services.ejs') -%>
  <!-- ###### start our work section ##########-->
  <section class="our-work" id="ourWorks">
      <div class="main-header">
          <h2 class="main-title">Our Work</h2>
          <ul class="line">
              <li></li>
              <li></li>
              <li></li>
          </ul>
      </div>
      <div class="work-container">
          <div class="box">
              <div class="image">
                  <a href="https://sofantech.github.io/yemeni-house/"><img src="/images/our work/our work three.png"></a>
              </div>
          </div>
          <div class="box">
              <div class="image">
                  <a href="https://sofantech.github.io/html-css-template-on/"><img src="/images/our work/our work four.png"></a>
              </div>
          </div>
          <div class="box">
              <div class="image">
                  <a href="https://sofantech.github.io/Rowad-challenge/"><img src="/images/our work/our-work-two.png"></a>
              </div>
          </div>
          <div class="box">
              <div class="image">
                  <img src="/images/our work/portfolio-4.jpg">
              </div>
          </div>
          <div class="box">
              <div class="image">
                  <a href="https://sofantech.github.io/SofanTec_Company/"><img src="/images/our work/sofantec.png"></a>
              </div>
          </div>
      </div>

  </section>
  <!-- ###### end our work section ##########-->

  <!-- ###### start contact section ##########-->
  <section class="contact" id="contact">
      <div class="box-container">
          <div class="social-media-box">
              <a class="#"><i class="ri-stackshare-fill"></i>contact </a>
              <p>You can find us on social media</p>
              <div class="social-links">
                  <a href="www.facebook.com" class="ri-facebook-circle-fill"></a>
                  <a href="https://twitter.com/HadiAhmed32965469?t=IDVWQBOb0GHmhwWUnuHA9w&s=09" class="ri-twitter-fill"></a>
                  <a href="https://github.com/sofantech" class="ri-github-fill"></a>
                  <a href="https://LinkedIn.com/hadi Ahmed" class="ri-linkedin-fill"></a>
              </div>
          </div>
          <div class="msg-container" id="msg-container"></div>
          <div class="form-box">
              <form id="form">
                  <input class="" id="userName" type="text" placeholder="Your Name">
                  <span></span>
                  <input id="email" type="email" placeholder="Email Address">
                  <div class="errortxt"></div>
                  <input id="subject" type="text" placeholder="Subject">
                  <span></span>
                  <textarea id="message" placeholder="Message"></textarea>
                  <span></span>
                  <input type="submit" class="btn send" value="send"></button>
              </form>
          </div>
      </div>
  </section>
<script>
    const socket=window.io();
    const msgform=document.querySelector('#form');
    const usName=document.querySelector('#userName');
    const usemail=document.querySelector('#email');
    const ussubject=document.querySelector('#subject');
    const usmessage=document.querySelector('#message');
    const msg_container=document.querySelector('#msg-container');
    msgform.addEventListener("submit",(e)=>{
        e.preventDefault();
        const uname=usName.value;
        const uemail=usemail.value;
        const usubject=ussubject.value;
        const umessage=usmessage.value;
        socket.emit('send-message',{uname},{uemail},{usubject},{umessage})
        usName.value='';
        usemail.value='';
        ussubject.value='';
        usmessage.value='';

    })
    socket.on('send-message',({uname},{uemail},{usubject},{umessage}) =>{
        console.log(uname,uemail,usubject,umessage);
        msg_container.innerHTML += `<p>${uname} ${uemail} ${usubject} ${umessage} </p>`;

    })
</script>
  <%- include('./partals/footer.ejs') -%>