<!DOCTYPE html>
<html lang="ar" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="hadi ahmed">
    <meta name="description" content="jobs-site">
    <meta name="keywoard" content="html , css , js,bootstrap,jquery">
    <title>dashboard</title>
    <link rel="stylesheet" href="/admin/fonts/remixicon.css">
    <link rel="stylesheet" href="/admin/css/bootstrap.css">
    <link rel="stylesheet" href="/admin/css/style.css">
</head>
<body>
  <div class="top-headers">
    <div class="container">
      <div class="brand-container">
        <div class="brand">Sofan<span class="brand-tail">Tec</span></div>
        <i class="ri-menu-line burgger-icon" id="toggle-icon"></i>
      </div>
      <nav>
        
        <div class="profile-details">
          <img src="<%= '/images/' + user.avatar%>" alt="">
          <span class="admin_name">
            <% if(user){ %> 
              <%= user.name %> 
           <% } %>
          </span>
        </div>
      </nav>
    </div>
  </div>
  <!--start dashboard-->
   <div class="row sidbare">
     <aside class="col-md-2 nav-list" id="toggle-list">
        <ul class="nav-links">
          <li class="active">
            <a href="dashboard-personal-info.html" >
              <span class="links_name">personal Info</span>
            </a>
          </li>
          <li>
            <a href="/users/skills">
              <span class="links_name">skills</span>
            </a>
          </li>
          <li>
            <a href="./services">
              <span class="links_name">services</span>
            </a>
          </li>
          <li>
            <a href="dashboard-person-qualification.html">
              <span class="links_name">our Works</span>
            </a>
          </li>
          <li>
            <a href="./messages">
              <span class="links_name">Messages</span>
            </a>
          </li>
          <% if(!user) { %> 
          <li class="log_in">
            <a href="/users/login">
              <span class="links_name">logIn </span>
            </a>
          </li>
          <li class="log_out">
            <a href="/users/signin">
              <span class="links_name">signup </span>
            </a>
          </li>
          <% } else { %> 
          <li class="signup">
            <a href="/users/logout">
              <span class="links_name">logout </span>
            </a>
          </li>
          <% } %> 
        </ul>
     </aside>
     <div class="dashboard-section col-md-10">
       <div class="row">
        <h3 style="color: #fff; text-align: center; margin: 20px 0;">personal information</h3>
          
       </div>
        
      <div class="personal-info">
        <form action="/users/uploadavtar" method="post" enctype="multipart/form-data" style="display: flex; align-items: center; justify-content: space-around; flex-wrap: wrap; text-align: center; gap: 20px;">
          <div class="col-sm-3">
            <img src="<%= '/images/' + user.avatar%>" style="width: 150px; height: 150px; border-radius: 20px;">
            <input type="file" class="avtar" id="avtar" name="avatar" style="margin-top: 20px; color: #eee;">
          </div>
          <div class="col-md-8">
            <input type="text" class="form-control form-control-lg" name="name" style="margin: 5px 0; background: #808dad4a; color: #fff;border-radius: 20px; border: 1px solid var(--redColor);" placeholder="useremail" value="<% if(user){ %> 
              <%= user.name.trim() %> 
            <% } %>">
            <input type="email" class="form-control form-control-lg" name="email" style="margin: 5px 0; background: #808dad4a; color: #fff;border-radius: 20px; border: 1px solid var(--redColor);" placeholder="user Email" value="<% if(user){ %> 
              <%= user.email %> 
              <% } %>">
            <input type="password" class="form-control form-control-lg" name="password" style="margin: 5px 0; background: #808dad4a; color: #fff;border-radius: 20px; border: 1px solid var(--redColor);" placeholder="password" value="<% if(user){ %> 
              <%= user.password %> 
              <% } %>">
            <hr>
            <button type="submit" class="btn btn-primary">upload</button>

          </div>
        </form>
      </div>
        
     </div>
   </div>
    
    <!--end dashboard-->

    
    <script src="/admin/js/bootstrap.js"></script>
    <script src="/admin/js/jquery-3.6.0.min.js"></script>
    <script src="/admin/js/popper.min.js"></script>
    <script src="/admin/js/script.js"></script>
</body>
</html>